body{

	margin: 0;
	padding-top: 3rem;

    padding-bottom: 0rem;

    color: #000000;

}

.yoimagen{

	margin-top: -50px;



	

}





/* Tabs*/





section .section-title {

    text-align: center;

	font-size: 24px;  

	font-family:Arial; 

	text-transform: uppercase;

	 font-weight: 1000;

    

    text-transform: uppercase;

}

#tabs{

	background-image: url("images/tech1.jpg");

	background-size: cover;

	height: 100%;

	width: 100% ;

	text-align: center;

	

	color: black;

	font-weight: 1000;

	font-family: tahoma;



}

#tabs h6.section-title{

    color: rgb(0, 0, 0);

}



#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

    color: #000000;

    background-color: transparent;

    border-color: transparent transparent #000000;

    border-bottom: 4px solid !important;

    font-size: 20px;

    font-weight: bold;

}

#tabs .nav-tabs .nav-link {

    border: 1px solid transparent;

    border-top-left-radius: .25rem;

    border-top-right-radius: .25rem;

    color: rgb(0, 0, 0);

    font-size: 20px;

}



.card-img-overlay-x {

	position: absolute;

	right: 0;

	bottom: 0;

	left: 0;

	padding: 1.25rem;

	

  }





  .card-x {

	position: relative;

	display: flex;

	flex-direction: column;

	min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106

	height: $card-height;

	word-wrap: break-word;

	background-color: $card-bg;

	background-clip: border-box;

	border: $card-border-width solid $card-border-color;

	@include border-radius($card-border-radius);

  

	> hr {

	  margin-right: 0;

	  margin-left: 0;

	}

  

	> .list-group {

	  border-top: inherit;

	  border-bottom: inherit;

  

	  &:first-child {

		border-top-width: 0;

		@include border-top-radius($card-inner-border-radius);

	  }

  

	  &:last-child  {

		border-bottom-width: 0;

		@include border-bottom-radius($card-inner-border-radius);

	  }

	}

  }



  /* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {

    padding: 30px 0;

}



section .section-title {

    text-align: center;

    color: #007ff0;

    margin-bottom: 50px;

    text-transform: uppercase;

}

#footer {

	background-image: url("assets/footer2.jpg");

	background-size: cover;

	height: 100%;

	width: 100% ;

	text-align: center;

}

#footer h5{

	padding-left: 10px;

    border-left: 3px solid #fffefe;

    padding-bottom: 6px;

    margin-bottom: 20px;

    color:#ffffff;

}

#footer a {

    color: #ffffff;

    text-decoration: none !important;

    background-color: transparent;

    -webkit-text-decoration-skip: objects;

}

#footer ul.social li{

	padding: 3px 0;

}

#footer ul.social li a i {

    margin-right: 5px;

	font-size:25px;

	-webkit-transition: .5s all ease;

	-moz-transition: .5s all ease;

	transition: .5s all ease;

}

#footer ul.social li:hover a i {

	font-size:30px;

	margin-top:-10px;

}

#footer ul.social li a,

#footer ul.quick-links li a{

	color:#ffffff;

}

#footer ul.social li a:hover{

	color:#ffffff;

}

#footer ul.quick-links li{

	padding: 3px 0;

	-webkit-transition: .5s all ease;

	-moz-transition: .5s all ease;

	transition: .5s all ease;

}

#footer ul.quick-links li:hover{

	padding: 3px 0;

	margin-left:5px;

	font-weight:700;

}

#footer ul.quick-links li a i{

	margin-right: 5px;

}

#footer ul.quick-links li:hover a i {

    font-weight: 700;

}



@media (max-width:767px){

	#footer h5 {

    padding-left: 0;

    border-left: transparent;

    padding-bottom: 0px;

    margin-bottom: 10px;

}

}

.producard{
	transition: all 0.5s;
}

.producard:hover{
	
	box-shadow: 0 0 10px 10px #55545481; 
	cursor: pointer;
	position: relative;
    z-index:100;
    transform:scale(1.1);
}

.textproducard:hover{
	box-shadow: 0 0 10px 10px #d3d3d388; 
	cursor: pointer;
}